<form #form="ngForm" novalidate class="d-flex flex-column align-items-center">
  <div class="content-titles">
    <h1 class="custom-title">Geração de certificado</h1>
    <p class="custom-subtitle mb-4">Preencha os dados para gerar um novo certificado</p>
  </div>

  <div class="custom-card w-100">
    <h2 class="card-title">Novo certificado</h2>
    <div class="mb-3 custom-input-group">
      <label for="nome" class="form-label">Nome completo</label>
      <input [(ngModel)]="name" name="name" #nameRef="ngModel" maxlength="150" required id="nome" type="text" class="form-control custom-input" placeholder="Digite seu nome completo">
      @if (isInvalidField(nameRef)) {
        <div class="error-message d-flex align-items-center">
          <i class="ph ph-warning-circle"></i>
          <p class="m-0">O nome é obrigatório</p>
        </div>
      }
    </div>
    <div class="mb-3 d-flex align-items-end">
      <div class="flex-grow-1 me-2 custom-input-group">
        <label for="atividade" class="form-label">Atividade</label>
        <div class="d-flex align-items-center gap-2">
          <input [(ngModel)]="activity" name="activity" #activityRef="ngModel" maxlength="50" required id="atividade" type="text" class="form-control custom-input" placeholder="Atividade realizada">
          <app-secondary-button (click)="addActivity()" [isButtonDisabled]="!activity || activity.length == 0" buttonText="Adicionar" phClass="ph ph-plus "></app-secondary-button>
        </div>
      </div>
    </div>
    @if (activities.length > 0) {
      <div class="activities-group">
        <label class="form-label">Lista de atividades</label>
        <div class="item-list w-100">
          @for(activity of activities; track $index) {
            <div class="item">
              <span class="item-text">{{activity}}</span>
              <div (click)="removeActivity($index)" class="remove-btn">
                <i class="ph ph-x"></i>
              </div>
            </div>
            @if ($index + 1 != activities.length) {
              <hr>
            }
          }
        </div>
      </div>
    }

    <app-primary-button (click)="submit()" [isButtonDisabled]="!isValidForm()" buttonText="Gerar certificado"></app-primary-button>

  </div>
</form>
