.container-fluid {
  padding: 0;
}

.navbar {
  padding: 1rem 40px 1rem 24px;
  background-color: white;
  border-bottom: 1px solid #E2E8F0;
}

.navbar-logo img {
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.nav-link {
  padding: 6px !important;
}

.nav-link.active {
  color: #3B5AC2;
}

.active {
  color: #3B5AC2;
  font-weight: 600;
}

.nav-item {
  cursor: pointer;
}

.nav-item i {
  font-size: 20px;
}
